body * {
	font-size: 14px;
}

.patrol.table-hover>tbody>tr:hover>* {
	--bs-table-color-state: var(--bs-table-hover-color);
	--bs-table-bg-state: #ffeeba;
}

a {
	color: #0062cc;
	text-decoration: none;
}

.col-left {
	padding: 0 20px 0 2px;
}

.col-right {
	padding: 0 2px 0 20px;
}

@media only screen and (max-width: 991px) {

	.col-left,
	.col-right {
		padding: 0;
	}
}

.tablediv {
	width: 100%;
	height: 450px;
	overflow: auto;
}

.row table.patrol.table thead {
	position: sticky;
	top: 21px;
	background-color: white;
}

div.tablediv div.sticky {
	position: sticky;
	top: 0;
	background-color: white;
	font-weight: bold;
}

.patrol.table thead tr th {
	border: 0;
}

.patrol.table th,
.patrol.table td {
	padding: 3px 5px;
}

.table tr.pink {
	--bs-table-bg: pink;
}

.tablediv {
	margin: 20px 0;
}

.tablediv {
	-webkit-box-shadow: 5px 5px 3px 0px rgba(0, 98, 204, 0.5);
	box-shadow: 5px 5px 3px 0px rgba(0, 98, 204, 0.5);
}

span.total {
	margin-left: -20px;
	font-weight: bold;
}

div.nochanges {
	font: small-caps bold 24px "Consolas";
}

div.errorMsg {
	color: red;
	font-weight: bold;
}

.accordion-button {
	--bs-accordion-btn-padding-y: 10px;
}

.center {
	display: block;
	text-align: center;
}

.invisible-inline {
	visibility: hidden;
	/* Makes the element invisible but still takes up space */
	user-select: none;
	/* Prevents text selection */
}

.inline-button {
	color: green;
}

.color-block {
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin-right: 5px;
}

.max-content {
	width: max-content;
}